body {
  background-color: #bed3d5;
}

#title {
  text-align: center;
  font-size: 50px;
  font-family: 'Bangers', cursive;
  letter-spacing: 3px;
}

p, #img-caption{
    font-family: 'Open Sans', sans-serif;
}

p {
  text-align: center;
  font-size: 20px;
  line-height: 2px;
}

#img-div {
    text-align: center;
}
